button#buttonImg {
    background-color: white
}

button#buttonImg:hover {
    border-color: greenyellow
}

#imgNav {
    width:1em;
    height:1em   
}

#imgCard {
    width:8em;
    height:5em   
}

#navbar {
    width:100%;
}

#imgButton {
    width:20px;
    height:20px;
    object-fit:cover
}

#buttonFBGoogle {
    background-color: #f2f2f2
}

#verCod1, #verCod2, #verCod3, #verCod4, #verCod5, #verCod6 {
    width: 40px;
    height: 60px;
    font-size: 25px
}

#point {
    cursor: pointer;
}

#pointlink {
    cursor: pointer;
    color: royalblue;
}

#pointlink:hover {
    text-decoration: underline;
}

#pointer {
    cursor: pointer;
}

@media (max-width:1300px) {
    #curtain {
        width:1300px;
    }
}

@media (max-width:1300px) {
    #curtain2 {
        width:1100px;
        margin-left: auto;
        margin-right: auto
    }
}

#divTest {
    text-align: center;
    justify-content: center;
}

#buttonTest {
    color: black;
    background-color: yellow;
}

#tableTest {
    border: 1px solid black;
    display: inline-block;
}

#tdTest0 {
    color: white;
    background-color:green;
}

#tdTest1 {
    background-color: red;
}

#tdTest2 {
    color: white;
    background-color: blue;
}

@media (max-width:1300px) {
    #cardCarouselHome {
        width:150px;
        cursor: pointer;
    }
}
